<div id="portfolio-details-container">
    <table mat-table
           [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header> Name </th>
            <td mat-cell
                *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <!-- Valuue Column -->
        <ng-container matColumnDef="value">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header> Value </th>
            <td mat-cell
                *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Actions </th>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button
                        (click)="deleteStock(row)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button
                        (click)="openDialog(row)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>