<div id="stock-list-container">

    <table mat-table
           [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header> Name </th>
            <td mat-cell
                *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header> Actions </th>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button
                        (click)="openDialog($event, row)">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>