<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput
               [(ngModel)]="data">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button
            (click)="onNoClick()">Cancel</button>
    <button mat-button
            [mat-dialog-close]="data"
            cdkFocusInitial>Save</button>
</div>