
#top-container { 
    width: 100%;
    height: 50vh;
    background-color: red;
    align-items: center;
    display: flex;
}

app-portfolio-list {
    width: 50%;
    height: 100%;
}

app-stock-list {
    width: 50%;
    height: 100%;
}