<div id="top-container">
  <app-portfolio-list (portfolioSelected)="handlePortfolioSelection($event)" [portfolioUpdated]="portfolio"></app-portfolio-list>
  <app-stock-list (portfolioUpdated)="handlePortfolioStockUpdate($event)"></app-stock-list>
</div>
<div id="bottom-container">
  <app-portfolio-details [portfolio]="portfolio" (portfolioUpdated)="handlePortfolioStockUpdate($event)"></app-portfolio-details>
</div>